/* CSS goes here */
body {
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Heading */
.heading {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 10px;
}



/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}