/* CSS goes here */
body {
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Heading */
.heading {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 10px;
}

/* Form */
.add-books {
    max-width: 800px;
    padding: 10px;
    align-self: center;
}

.btn-dialog {
    padding: 8px;
    width: 150px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

dialog {
    padding: 20px 40px;
}

.btn-dialog:hover{
    background-color: aliceblue;
}

.form-row {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 5px 0px;
    gap: 15px
}

.form-row button {
    justify-content: flex-end;
    align-self: flex-end;

}

label {
    font-weight: bold; 
}

input {
    width: 200px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}




/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}